body {
    display: flex;
    justify-content: center;
}

header {
    padding:20px;
    width: 50%;
    position: fixed;
    top: 0;
    background-color: var(--primary-color);
    
    
}

.border {
    border: 2px solid black;
}

header a {
    color: var(--text-color);
    text-decoration: none;
}

.header-hr {
    width: 50%;
    position: fixed;
    top: 90px;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 110px;
    width: 50%;
}

.task {
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
}

.task p {
    margin-top: 10px;
}

.task h3, p {white-space: normal; word-wrap: break-word;}

.done {
    display: block;
    margin: auto;
    color: black;
    font-weight: 700;
    border-radius: 10px;
    background-color: white;
    font-size: 0.6rem;
    padding: 2px 7px;
    border: 1px solid black;
}

.notdone {
    display: block;
    margin: auto;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    background-color: black;
    font-size: 0.6rem;
    padding: 2px 7px;
    border: none;
}

.date, .icons {background-color: var(--secondary-color);}

p {margin-bottom: 10px;}

.change {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.icons {width: 40%; display: flex; justify-content: space-around; align-items: center;}

.icons a {color: var(--text-color);}

/* .icons .trash {
    appearance: none;
} */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    /* background-color:rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 75vw;
    height: 20vh;
    background-color: var(--primary-color);
    border-radius: 20px;
    /* border: 2px solid var(--primary-color); */
}

.warn {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 5%;
}

.confirm-buttons {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}

.confirm-buttons a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 7px;
}

.confirm-buttons button {
    color: black;
    background: none;
    padding: 2.5px 5px;
    border-radius: 7px;
}

.hide {display: none;}

.show {display: flex;}

.add {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 40px;
}

.add a {
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    background: none;
}

.add .fa-solid {
    width: fit-content;
    height: fit-content;
    font-size: 1.75rem;
    padding: 15px 17px;
    border-radius: 50%;
    background-color: #040303;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    /* text-align: center; */
}

.add p {font-weight: bold; background-color: var(--secondary-color); margin-top: 5px;}