header {
    padding:20px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--primary-color);
}

header a {
    color: var(--text-color);
    text-decoration: none;
}

.header-hr {
    width: 100%;
    position: fixed;
    top: 90px;
}

.container {margin: 110px 0 150px 0;}

.task {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
}

.task p {
    margin-top: 10px;
}

.title {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

/* .checkbox {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.checkbox label {
    font-weight: bold;
} */

/* .checkbox input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: white;
}

.checkbox input:checked {
    background-color: black;
} */

/* .status {
    border: 1px solid blue;
} */

.done {
    display: block;
    margin: auto;
    color: black;
    border-radius: 10px;
    background-color: white;
    font-size: 0.6rem;
    padding: 2px 7px;
    border: 1px solid black;
}

.notdone {
    display: block;
    margin: auto;
    color: white;
    border-radius: 10px;
    background-color: black;
    font-size: 0.6rem;
    padding: 2px 7px;
}

.date, .icons {background-color: var(--secondary-color);}

p {margin-bottom: 10px;}

.change {margin-top: 10px;}

.change {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons {width: 50%; display: flex; justify-content: space-around; align-items: center;}

.icons a {color: var(--text-color);}

.add {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    z-index: 1;
}

.add a {
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    background: none;
}

.add .fa-solid {
    width: fit-content;
    height: fit-content;
    font-size: 1.75rem;
    padding: 15px 17px;
    border-radius: 50%;
    background-color: #040303;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    /* text-align: center; */
}

.add p {font-weight: bold; background-color: var(--secondary-color); margin-top: 5px;}