header {margin:20px}

.container {margin-top: 20px;}

.task {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

}

/* h1 {margin-left: 30px;} */

.task, h3, p, .change {
    background-color: var(--secondary-color);
    margin-top: 10px;
}

.date, .icons {background-color: var(--secondary-color);}

/* .date, .change{border: 1px solid black;} */

p {margin-bottom: 10px;}

.change {margin-top: 10px;}

.date {color: gray; font-size: 0.85rem;}

.change {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons {width: 20%; display: flex; justify-content: space-around;}

.icons a {color: var(--text-color);}