* {
    --primary-color: #F3F3F3;
    --secondary-color: white;
    --text-color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
  }

  h1 {font-size: 2.5rem; font-weight: 900;}

  h3 {font-size: 1.25rem;}

  p {font-size: 1rem;}